<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>note list</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div>
    <form method="get" action="{% url 'note_add' %}">
      <button type="submit">+</button>
      <form />
      <h1>notes</h1>
      <ul>
        {% for note in object_list %}
        <li>{{ note.title }}</li>
        <li>{{ note.content }}</li>
        {% endfor %}
      </ul>
  </div>
</body>

</html>
