<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>add new note</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <!-- <input type="text" class="js-title" placeholder="タイトル"> -->
    <!-- <input type="text" class="js-context" , placeholder="メモはなに？"> -->
    <input type="submit" value="submit" class="js-button">
  </form>
</body>

</html>
