openapi: 3.0.3

info: 
  title: users API
  description: |
    UsersサービスのAPIを提供。このAPIは、ユーザー管理に関連する操作をサポート。
  version: 1.0.0

servers:
  - url: https://users.transcendence.com

paths:
  /users:
    post:
      summary: "userの新規作成"
      description: "userの新規登録。authサービスからこのapiが叩かれる。"
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "新規ユーザーのusername"
              required:
                - username
      responses:
        "201":
          description: "user作成成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    example: "12345"
                  username:
                    type: string
                    example: "johndoe"
        "400":
          description: "入力データが無効"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "発生したエラーの詳細"
                    example: "Username is invalid."
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
        "409":
          description: "Conflict - userが既に存在している"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "コンフリクトエラーの詳細"
                    example: "A user with this email already exists."

  /users/{userId}:
    get:
      summary: "ユーザー情報の取得"
      description: "ユーザーIDを使用して、その詳細情報を取得"
      tags:
        - users
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "ユーザーの詳細情報"
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                  username:
                    type: string
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "エラーの詳細"
                    example: "User not found."

  /users/me/username:
    put:
      summary: "usernameの更新"
      description: "認証済みユーザのusernameを更新"
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
      responses:
        "200":
          description: "Username updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    description: "更新後のユーザー名。"
                    example: "updated_username"
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "エラーの詳細"
                    example: "User not found."
  /users/me/avatar:
    get:
      summary: "ユーザのアバターを取得"
      description: "認証済みユーザーのアバターを取得"
      tags:
        - users
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "現在のアバター画像を返す"
          content:
            # 単一のPNG画像データ
            image/png:
              schema:
                type: string
                format: binary
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      summary: "ユーザのアバターを更新"
      description: "認証済みユーザーのアバター画像をアップロード"
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          # ファイルやテキストデータを含めることができ、ファイルアップロード時などに使用される一般的な形式
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: "新しいアバター画像ファイル（PNGやJPEGなど）。"
      responses:
        "200":
          description: "アバターが正常に更新"
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatar_path:
                    type: string
                    description: "更新されたアバター画像のパス。"
                    example: "/uploads/avatars/12345.png"
        "400":
          description: "アバター画像が無効"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid image format."
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      summary: "認証済みユーザーのアバターを削除"
      description: "認証済みユーザーのアバターを削除し、データベースのアバターパスをリセットします。"
      tags:
        - users
      security:
        - bearerAuth: []
      responses:
        "204":
          description: "アバターを正常に削除"
          content: {}
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
        "404":
          description: "Avatar not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "エラーの詳細"
                    example: "Avatar not found."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          description: "認証エラーの詳細"
          example: "JWT is invalid or expired."

  responses:
    UnauthorizedResponse:
      description: "Unauthorized - Missing or invalid JWT."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
