openapi: 3.0.3

info: 
  title: users API
  description: |
    UsersサービスのAPIを提供。このAPIは、ユーザー管理に関連する操作をサポート。
  version: 1.0.0

servers:
  - url: https://users.transcendence.com

paths:
  /users:
    post:
      summary: "userの新規作成"
      description: "userの新規登録。authサービスからこのapiが叩かれる。"
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "新規ユーザーのusername"
              required:
                - username
      responses:
        "201":
          description: "user作成成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "12345"
                  username:
                    type: string
                    example: "johndoe"
        "400":
          description: "入力データが無効"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "発生したエラーの詳細"
                    example: "Username is invalid."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "認証エラーの詳細"
                    example: "JWT is invalid or expired."
        "409":
          description: "Conflict - userが既に存在している"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "コンフリクトエラーの詳細"
                    example: "A user with this email already exists."

  /users/{user_id}:
    get:
      summary: "ユーザー情報の取得"
      description: "ユーザーIDを使用して、その詳細情報を取得"
      tags:
        - users
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "ユーザーの詳細情報"
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "認証エラーの詳細"
                    example: "JWT is invalid or expired."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "エラーの詳細"
                    example: "User not found."

  /users/me:
    patch:
      summary: "認証済みユーザー情報の更新"
      description: "認証済みユーザーの情報を更新"
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
      responses:
        "200":
          description: "Username updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    description: "更新後のユーザー名。"
                    example: "updated_username"
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "認証エラーの詳細"
                    example: "JWT is invalid or expired."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "エラーの詳細"
                    example: "User not found."
        "409":
          description: "Conflict - userが既に存在している"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "コンフリクトエラーの詳細"
                    example: "A user with this email already exists."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
