[Unit]
Description=Initialize Vault Service
After=network.target

[Service]
ExecStart=/usr/local/bin/init_vault_and_rotate_api_key.sh
Restart=on-failure
EnvironmentFile=/etc/vault.env

[Install]
WantedBy=multi-user.target
