openapi: 3.0.3

info: 
  title: transcendence API
  description: |
    Transcendence API provides a comprehensive platform for managing a multiplayer ping-pong game service. This includes user authentication, game management, and social features.

    ## Services
    ### 1. Authentication Service
    - OTP-based authentication.
    - JWT issuance, validation, and refresh.

    ### 2. User Management Service
    - Create, update, and manage user profiles.
    - Manage user settings and preferences.

    ### 3. Ping-Pong Game Management Service
    - Real-time game matchmaking and management.
    - Game history tracking.

    ### 4. Tournament Management Service
    - Create and manage tournaments.
    - Track tournament results and rankings.

    ### 5. Friend Management Service
    - Add and remove friends.
    - Manage friend requests and relationships.

    ### 6. Active User List Service
    - Display a list of currently active (logged-in) users.
    - Track active sessions across devices.
  version: 1.0.0

servers:
  - url: https://auth.transcendence.com
    description: Authentication service
  - url: https://matchmaking.transcendence.com
    description: Matchmaking service
  - url: https://score.transcendence.com
    description: Score management service
  - url: https://profile.transcendence.com
    description: User profile service

paths:
  /users:
    get:
      summary: "Get users info"
      description: "Retrieve a list of all users."
      responses:
        "200":
          description: "A list of users."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: "User ID."
                    username:
                      type: string
                      description: "Username."
                    avator_path:
                      type: string
                      description: "User avator path."

    # TODO: jwtの認証はユーザー管理サービスでできる？
    post:
      summary: "Create a new user"
      description: "Register a new user with the provided information."
      security:
        - bearerAuth: []  
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the new user."
              required:
                - username
      responses:
        "201":
          description: "User created successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: "The unique identifier for the created user."
                    example: "12345"
                  username:
                    type: string
                    description: "The username of the created user."
                    example: "johndoe"
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "A brief error message explaining the issue."
                    example: "Email format is invalid."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "409":
          description: "Conflict - User already exists."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating a conflict."
                    example: "A user with this email already exists."

  # TODO: emailとかpasswordの情報はどうする？
  # userid version
  /users/{user_id}:
    get:
      summary: "Get user by ID"
      description: "Retrieve detailed information about a specific user by ID."
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to retrieve."
          schema:
            type: integer
      responses:
        "200":
          description: "User details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
                  avator_path:
                    type: string
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    put:
      summary: "Update user information"
      description: "Update an existing user's information by ID."
      security:
        - bearerAuth: []  
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to update."
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Updated username."
                email:
                  type: string
                  description: "Updated email address."
                avator_path:
                  type: string
                  description: "Path to the user's avatar image."
              required:
                - username
                - email
                - avator_path
      responses:
        "200":
          description: "User updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The ID of the updated user."
                    example: 123
                  username:
                    type: string
                    description: "The updated username of the user."
                    example: "updated_username"
                  email:
                    type: string
                    description: "The updated email address of the user."
                    example: "updated_email@example.com"
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    delete:
      summary: "Delete user"
      description: "Delete a user by ID."
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to delete."
          schema:
            type: integer
      responses:
        "204":
          description: "User deleted successfully."
          content: {}
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

  # useridを指定しないヴァージョン
  /users/me:
    get:
      summary: "Get authenticated user's details"
      description: "Retrieve detailed information about the authenticated user."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "User details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
                  email:
                    type: string
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or missing authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
                    example: "Invalid or expired token."

    put:
      summary: "Update authenticated user's information"
      description: "Update the information of the authenticated user."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Updated username."
                email:
                  type: string
                  description: "Updated email address."
                avatar_path:
                  type: string
                  description: "Path to the user's avatar image."
              required:
                - username
                - email
                - avatar_path
      responses:
        "200":
          description: "User updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The ID of the updated user."
                    example: 123
                  username:
                    type: string
                    description: "The updated username of the user."
                    example: "updated_username"
                  email:
                    type: string
                    description: "The updated email address of the user."
                    example: "updated_email@example.com"
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or expired authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    delete:
      summary: "Delete authenticated user's account"
      description: "Delete the account of the authenticated user."
      security:
        - bearerAuth: []
      responses:
        "204":
          description: "User deleted successfully."
          content: {}
        "401":
          description: "Invalid or expired authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired authentication token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

  /auth/generate/signup:
    post:
      description: "Register a new user and generate an OTP for verification."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The desired username for the new account."
                email:
                  type: string
                  description: "The user's email address."
                password:
                  type: string
                  description: "The desired password for the new account."
              required:
                - username
                - email
                - password
      responses:
        "200":
          description: "OTP generated successfully."
          headers:
            Set-Cookie:
              description: "Set the username in the cookie for OTP verification."
              schema:
                type: string
                example: "username=johndoe; HttpOnly; Secure; Path=/; Max-Age=300"
          content:
            application/json:
              schema:
                type: object
                properties:
                  qr_code:
                    type: string
                    description: "A Base64 encoded string representing the QR code for OTP."
                    example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUg..."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "A brief error message explaining the issue."
                    example: "Invalid email format."

  /auth/generate/login:
    post:
      summary: "Log in an existing user"
      description: "Authenticate the user and generate JWT tokens."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                password:
                  type: string
                  description: "The password of the user."
              required:
                - username
                - password
      responses:
        "200":
          description: "Login successful, OTP process initiated."
          headers:
            Set-Cookie:
              description: "Set the username in the cookie for OTP verification."
              schema:
                type: string
                example: "username=johndoe; HttpOnly; Secure; Path=/; Max-Age=300"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: "Informational message about the OTP process."
                    example: "Use the OTP generated by your authentication app to complete the login process."
        "401":
          description: "Invalid username or password."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid username or password."

  /auth/token/refresh:
    post:
      summary: "Refresh access token"
      description: "Generate a new access token using a valid refresh token."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
                  description: "The refresh token."
              required:
                - refresh
      responses:
        "200":
          description: "New access token generated."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The new access token."
                  refresh:
                    type: string
                    description: "The new refresh token (if updated)."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."

  /auth/otp/verify/signup:
    post:
      summary: "Verify OTP during signup"
      description: "Verify the OTP sent during the signup process."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, user account activated."
          headers:
            Set-Cookie:
              description: "Delete the username cookie."
              schema:
                type: string
                example: "username=; HttpOnly; Secure; Path=/; Max-Age=0"
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The access token."
                  refresh:
                    type: string
                    description: "The refresh token."
        "400":
          description: "Invalid OTP or username."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid OTP or username."
        "401":
          description: "User authentication failed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating failed authentication."

  /auth/otp/verify/login:
    post:
      summary: "Verify OTP during login"
      description: "Verify the OTP sent during the login process."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, login completed."
          headers:
            Set-Cookie:
              description: "Delete the username cookie."
              schema:
                type: string
                example: "username=; HttpOnly; Secure; Path=/; Max-Age=0"
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The access token."
                  refresh:
                    type: string
                    description: "The refresh token."
        "400":
          description: "Invalid OTP or username."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid OTP or username."
        "401":
          description: "User authentication failed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating failed authentication."

  /friends:
    get:
      summary: "Get the user's friends list"
      description: "Retrieve the list of friends for the authenticated user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      responses:
        "200":
          description: "The user's friends list."
          content:
            application/json:
              schema:
                type: object
                properties:
                  friends:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          description: "The ID of the friend."
                        username:
                          type: string
                          description: "The username of the friend."
                        status:
                          type: string
                          enum: [pending, approved, rejected]
                          description: "The status of the friend request."
                        request_sent_at:
                          type: string
                          format: date-time
                          description: "The timestamp when the friend request was sent."
                        approved_at:
                          type: string
                          format: date-time
                          description: "The timestamp when the friend request was approved."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "No friends found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "No friends found."

  /friends/{friend_id}:
    post:
      summary: "Send a friend request"
      description: "Send a friend request to another user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "ID of the user to send the friend request to."
          schema:
            type: integer
      responses:
        "200":
          description: "Friend request sent successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Friend request sent successfully."
        "400":
          description: "Invalid request or already sent request."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend request already sent."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."

    patch:
      summary: "Approve a friend request"
      description: "Approve a friend request from another user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "The ID of the friend request to approve."
          schema:
            type: integer
      responses:
        "200":
          description: "Friend request approved."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Friend request approved."
        "400":
          description: "Invalid state (e.g., attempting to approve an already approved or rejected request)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid state for approval."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "Friend request not found or already approved."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend request not found."
  
    delete:
      summary: "Delete a friend"
      description: "Remove a friend from the user's friend list."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "The ID of the friend to delete."
          schema:
            type: integer
      responses:
        "204":
          description: "Friend deleted successfully."
          content: {}
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "Friend not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend not found."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
