openapi: 3.0.3

info: 
  title: transcendence API
  description: |
    Transcendence API provides a comprehensive platform for managing a multiplayer ping-pong game service. This includes user authentication, game management, and social features.

    ## Services
    ### 1. Authentication Service
    - OTP-based authentication.
    - JWT issuance, validation, and refresh.

    ### 2. User Management Service
    - Create, update, and manage user profiles.
    - Manage user settings and preferences.

    ### 3. Ping-Pong Game Management Service
    - Real-time game matchmaking and management.
    - Game history tracking.

    ### 4. Tournament Management Service
    - Create and manage tournaments.
    - Track tournament results and rankings.

    ### 5. Friend Management Service
    - Add and remove friends.
    - Manage friend requests and relationships.

    ### 6. Active User List Service
    - Display a list of currently active (logged-in) users.
    - Track active sessions across devices.
  version: 1.0.0

servers:
  - url: https://auth.transcendence.com
    description: Authentication service
  - url: https://matchmaking.transcendence.com
    description: Matchmaking service
  - url: https://score.transcendence.com
    description: Score management service
  - url: https://profile.transcendence.com
    description: User profile service

paths:
  /users:
    get:
      summary: "Get users info"
      description: "Retrieve a list of all users."
      tags:
        - users
      responses:
        "200":
          description: "A list of users."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: "User ID."
                    username:
                      type: string
                      description: "Username."
                    avator_path:
                      type: string
                      description: "User avator path."

    # TODO: jwtの認証はユーザー管理サービスでできる？
    post:
      summary: "Create a new user"
      description: "Register a new user with the provided information."
      tags:
        - users
      security:
        - bearerAuth: []  
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the new user."
              required:
                - username
      responses:
        "201":
          description: "User created successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: "The unique identifier for the created user."
                    example: "12345"
                  username:
                    type: string
                    description: "The username of the created user."
                    example: "johndoe"
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "A brief error message explaining the issue."
                    example: "Email format is invalid."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "409":
          description: "Conflict - User already exists."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating a conflict."
                    example: "A user with this email already exists."

  # TODO: emailとかpasswordの情報はどうする？
  # userid version
  /users/{user_id}:
    get:
      summary: "Get user by ID"
      description: "Retrieve detailed information about a specific user by ID."
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to retrieve."
          schema:
            type: integer
      responses:
        "200":
          description: "User details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
                  avator_path:
                    type: string
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    put:
      summary: "Update user information"
      description: "Update an existing user's information by ID."
      tags:
        - users
      security:
        - bearerAuth: []  
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to update."
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Updated username."
                email:
                  type: string
                  description: "Updated email address."
                avator_path:
                  type: string
                  description: "Path to the user's avatar image."
              required:
                - username
                - email
                - avator_path
      responses:
        "200":
          description: "User updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The ID of the updated user."
                    example: 123
                  username:
                    type: string
                    description: "The updated username of the user."
                    example: "updated_username"
                  email:
                    type: string
                    description: "The updated email address of the user."
                    example: "updated_email@example.com"
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    delete:
      summary: "Delete user"
      description: "Delete a user by ID."
      tags:
        - users
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to delete."
          schema:
            type: integer
      responses:
        "204":
          description: "User deleted successfully."
          content: {}
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

  # useridを指定しないヴァージョン
  /users/me:
    get:
      summary: "Get authenticated user's details"
      description: "Retrieve detailed information about the authenticated user."
      tags:
        - users
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "User details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
                  email:
                    type: string
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or missing authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
                    example: "Invalid or expired token."

    put:
      summary: "Update authenticated user's information"
      description: "Update the information of the authenticated user."
      tags:
        - users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Updated username."
                email:
                  type: string
                  description: "Updated email address."
                avatar_path:
                  type: string
                  description: "Path to the user's avatar image."
              required:
                - username
                - email
                - avatar_path
      responses:
        "200":
          description: "User updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The ID of the updated user."
                    example: 123
                  username:
                    type: string
                    description: "The updated username of the user."
                    example: "updated_username"
                  email:
                    type: string
                    description: "The updated email address of the user."
                    example: "updated_email@example.com"
                  avatar_path:
                    type: string
                    description: "Path to the user's avatar image."
        "401":
          description: "Invalid or expired authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

    delete:
      summary: "Delete authenticated user's account"
      description: "Delete the account of the authenticated user."
      tags:
        - users
      security:
        - bearerAuth: []
      responses:
        "204":
          description: "User deleted successfully."
          content: {}
        "401":
          description: "Invalid or expired authentication token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired authentication token."
        "404":
          description: "User not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "User not found."

  /auth/generate/signup:
    post:
      description: "Register a new user and generate an OTP for verification."
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The desired username for the new account."
                email:
                  type: string
                  description: "The user's email address."
                password:
                  type: string
                  description: "The desired password for the new account."
              required:
                - username
                - email
                - password
      responses:
        "200":
          description: "OTP generated successfully."
          headers:
            Set-Cookie:
              description: "Set the username in the cookie for OTP verification."
              schema:
                type: string
                example: "username=johndoe; HttpOnly; Secure; Path=/; Max-Age=300"
          content:
            application/json:
              schema:
                type: object
                properties:
                  qr_code:
                    type: string
                    description: "A Base64 encoded string representing the QR code for OTP."
                    example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUg..."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "A brief error message explaining the issue."
                    example: "Invalid email format."

  /auth/generate/login:
    post:
      summary: "Log in an existing user"
      description: "Authenticate the user and generate JWT tokens."
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                password:
                  type: string
                  description: "The password of the user."
              required:
                - username
                - password
      responses:
        "200":
          description: "Login successful, OTP process initiated."
          headers:
            Set-Cookie:
              description: "Set the username in the cookie for OTP verification."
              schema:
                type: string
                example: "username=johndoe; HttpOnly; Secure; Path=/; Max-Age=300"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: "Informational message about the OTP process."
                    example: "Use the OTP generated by your authentication app to complete the login process."
        "401":
          description: "Invalid username or password."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid username or password."

  /auth/token/refresh:
    post:
      summary: "Refresh access token"
      description: "Generate a new access token using a valid refresh token."
      tags:
        - auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
                  description: "The refresh token."
              required:
                - refresh
      responses:
        "200":
          description: "New access token generated."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The new access token."
                  refresh:
                    type: string
                    description: "The new refresh token (if updated)."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."

  /auth/otp/verify/signup:
    post:
      summary: "Verify OTP during signup"
      description: "Verify the OTP sent during the signup process."
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, user account activated."
          headers:
            Set-Cookie:
              description: "Delete the username cookie."
              schema:
                type: string
                example: "username=; HttpOnly; Secure; Path=/; Max-Age=0"
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The access token."
                  refresh:
                    type: string
                    description: "The refresh token."
        "400":
          description: "Invalid OTP or username."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid OTP or username."
        "401":
          description: "User authentication failed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating failed authentication."

  /auth/otp/verify/login:
    post:
      summary: "Verify OTP during login"
      description: "Verify the OTP sent during the login process."
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, login completed."
          headers:
            Set-Cookie:
              description: "Delete the username cookie."
              schema:
                type: string
                example: "username=; HttpOnly; Secure; Path=/; Max-Age=0"
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The access token."
                  refresh:
                    type: string
                    description: "The refresh token."
        "400":
          description: "Invalid OTP or username."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid OTP or username."
        "401":
          description: "User authentication failed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating failed authentication."

  /friends:
    get:
      summary: "Get the user's friends list"
      description: "Retrieve the list of friends for the authenticated user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      responses:
        "200":
          description: "The user's friends list."
          content:
            application/json:
              schema:
                type: object
                properties:
                  friends:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          description: "The ID of the friend."
                        username:
                          type: string
                          description: "The username of the friend."
                        status:
                          type: string
                          enum: [pending, approved, rejected]
                          description: "The status of the friend request."
                        request_sent_at:
                          type: string
                          format: date-time
                          description: "The timestamp when the friend request was sent."
                        approved_at:
                          type: string
                          format: date-time
                          description: "The timestamp when the friend request was approved."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "No friends found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "No friends found."

  /friends/{friend_id}:
    post:
      summary: "Send a friend request"
      description: "Send a friend request to another user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "ID of the user to send the friend request to."
          schema:
            type: integer
      responses:
        "200":
          description: "Friend request sent successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Friend request sent successfully."
        "400":
          description: "Invalid request or already sent request."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend request already sent."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."

    patch:
      summary: "Approve a friend request"
      description: "Approve a friend request from another user."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "The ID of the friend request to approve."
          schema:
            type: integer
      responses:
        "200":
          description: "Friend request approved."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Friend request approved."
        "400":
          description: "Invalid state (e.g., attempting to approve an already approved or rejected request)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid state for approval."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "Friend request not found or already approved."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend request not found."
  
    delete:
      summary: "Delete a friend"
      description: "Remove a friend from the user's friend list."
      security:
        - bearerAuth: []  
      tags:
        - friends
      parameters:
        - name: friend_id
          in: path
          required: true
          description: "The ID of the friend to delete."
          schema:
            type: integer
      responses:
        "204":
          description: "Friend deleted successfully."
          content: {}
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "Friend not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Friend not found."

  /ws/friends:
    get:
      summary: "Connect to WebSocket for real-time friends updates"
      description: >
        Establish a WebSocket connection to retrieve real-time updates about friends,
        including their online/offline status.
      tags:
        - login-users
      parameters:
        - name: token
          in: query
          required: true
          description: "JWT token for authentication."
          schema:
            type: string
      responses:
        "101":
          description: "Switching Protocols (WebSocket connection established)."
        "401":
          description: "Unauthorized (invalid or missing token)."

  /ws/game:
    post:
      summary: "Establish WebSocket connection for the Ping Pong game"
      description: "Clients use this endpoint to establish a WebSocket connection."
      responses:
        "101":
          description: "Switching protocols to WebSocket for real-time game management."

  /matches:
    get:
      summary: "Retrieve a list of matches"
      description: "Retrieve a list of matches with optional filters for mode, user, tournament, etc."
      security:
        - bearerAuth: []  
      tags:
        - matches
      parameters:
        - name: mode
          in: query
          required: false
          schema:
            type: string
            enum: ["QuickPlay", "Tournament"]
          description: "Filter matches by mode."
        - name: user_id
          in: query
          required: false
          schema:
            type: integer
          description: "Filter matches involving a specific user."
        - name: tournament_id
          in: query
          required: false
          schema:
            type: integer
          description: "Filter matches by tournament ID (only for Tournament mode)."
        - name: round
          in: query
          required: false
          schema:
            type: integer
          description: "Filter matches by round number (only for Tournament mode)."
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: ["in_progress", "completed"]
          description: "Filter matches by status (e.g., in progress or completed)."
      responses:
        "200":
          description: "List of matches."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MatchDetails"
        "400":
          description: "Invalid query parameters."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid query parameters."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
    post:
      summary: "Create a new match"
      description: "Create a new match for either QuickPlay or Tournament mode."
      security:
        - bearerAuth: []  
      tags:
        - matches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: "Match mode, either 'QuickPlay' or 'Tournament'."
                  enum: ["QuickPlay", "Tournament"]
                  example: "QuickPlay"
                tournament_id:
                  type: integer
                  description: "ID of the tournament, required for Tournament mode."
                  example: 101
                parent_match_id:
                  type: integer
                  description: "ID of the parent match, required for Tournament mode."
                  example: 12
                round:
                  type: integer
                  description: "The round number in the tournament, required for Tournament mode."
                  example: 1
              required:
                - mode
              additionalProperties: false
      responses:
        "201":
          description: "Match created successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id:
                    type: integer
                    description: "ID of the newly created match."
                  mode:
                    type: string
                    description: "Match mode (QuickPlay or Tournament)."
                  tournament_id:
                    type: integer
                    description: "ID of the tournament, if applicable."
                  parent_match_id:
                    type: integer
                    description: "ID of the parent match, if applicable."
                  round:
                    type: integer
                    description: "Round number in the tournament, if applicable."
        "400":
          description: "Invalid request payload."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid request payload."
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."

  /matches/{match_id}:
    get:
      summary: "Get match details"
      description: "Retrieve details about a specific match by its ID."
      security:
        - bearerAuth: []  
      tags:
        - matches
      parameters:
        - name: match_id
          in: path
          required: true
          schema:
            type: integer
          description: "The ID of the match."
      responses:
        "200":
          description: "Match details retrieved successfully."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchDetails"
        "401":
          description: "Unauthorized - Missing or invalid JWT."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Authentication error message."
                    example: "JWT is invalid or expired."
        "404":
          description: "Match not found."
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "Match not found."

    patch:
      summary: "Update match after completion"
      description: "Register the winner of a completed match."
      security:
        - bearerAuth: []  
      tags:
        - matches
      parameters:
        - name: match_id
          in: path
          required: true
          schema:
            type: integer
          description: "The ID of the match."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                winner_user_id:
                  type: integer
                  description: "ID of the user who won the match."
                  example: 42
              required:
                - winner_user_id
      responses:
        "200":
          description: "Match updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id:
                    type: integer
                    description: "ID of the match."
                  winner_user_id:
                    type: integer
                    description: "ID of the winner."
        "400":
          description: "Invalid request payload."
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "Invalid request payload."
        "404":
          description: "Match not found."
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    description: "Error type."
                    example: "Match not found."

  /matches/participants:
    get:
      summary: "Get participant scores for a match"
      description: "Retrieve the scores of all participants in a specific match, or a specific participant's score if user_id is provided."
      security:
        - bearerAuth: []  
      tags:
        - matche-participants
      parameters:
        - name: match_id
          in: query
          required: true
          description: "The ID of the match to retrieve participant scores for."
          schema:
            type: integer
        - name: user_id
          in: query
          required: false
          description: "The ID of the participant whose score should be retrieved. If omitted, scores for all participants will be returned."
          schema:
            type: integer
      responses:
        "200":
          description: "Scores retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id:
                    type: integer
                    description: "The ID of the match."
                  participants:
                    type: array
                    description: "List of participants and their scores."
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          description: "The ID of the participant."
                        score:
                          type: integer
                          description: "The score of the participant."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid input."
                    example: "Match ID is required."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "Match or participant not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating match or participant does not exist."
                    example: "Match not found."
    post:
      summary: "Add a participant to a match"
      description: "Register a participant for a specific match."
      security:
        - bearerAuth: []  
      tags:
        - matche-participants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match_id:
                  type: integer
                  description: "The ID of the match."
                user_id:
                  type: integer
                  description: "The ID of the user participating in the match."
              required:
                - match_id
                - user_id
      responses:
        "201":
          description: "Participant successfully added to the match."
          content:
            application/json:
              schema:
                type: object
                properties:
                  # TODO: participant_idはなし？
                  # participant_id:
                  #   type: integer
                  #   description: "The ID of the created participant entry."
                  match_id:
                    type: integer
                    description: "The ID of the match."
                  user_id:
                    type: integer
                    description: "The ID of the user added as a participant."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating what went wrong."
                    example: "Match ID or User ID is missing."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "409":
          description: "Conflict: Participant already exists for this match."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message for conflict."
                    example: "User is already a participant in this match."

    patch:
      summary: "Update a participant's score"
      description: "Update the score for a participant after the match has ended."
      security:
        - bearerAuth: []  
      tags:
        - matche-participants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match_id:
                  type: integer
                  description: "The ID of the match."
                user_id:
                  type: integer
                  description: "The ID of the participant."
                score:
                  type: integer
                  description: "The score of the participant."
              required:
                - match_id
                - user_id
                - score
      responses:
        "200":
          description: "Score successfully updated."
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id:
                    type: integer
                    description: "The ID of the match."
                  user_id:
                    type: integer
                    description: "The ID of the participant."
                  score:
                    type: integer
                    description: "The updated score."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating invalid input."
                    example: "Score must be a non-negative integer."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "Participant not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the participant does not exist."
                    example: "Participant not found for the given match ID and user ID."

  /tournaments:
    get:
      summary: "Retrieve a list of tournaments"
      description: "Gets a list of tournaments with their start and finish dates."
      security:
        - bearerAuth: []  
      tags:
        - tournaments
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: "Filter tournaments that start on or after this date."
        - name: finish_date
          in: query
          schema:
            type: string
            format: date
          description: "Filter tournaments that finish on or before this date."
      responses:
        "200":
          description: "A list of tournaments."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: "The unique ID of the tournament."
                    start_date:
                      type: string
                      format: date-time
                      description: "The start date of the tournament."
                    finish_date:
                      type: string
                      format: date-time
                      description: "The finish date of the tournament."
        "400":
          description: "Bad request due to invalid query parameters."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
    post:
      summary: "Create a new tournament"
      description: "Creates a new tournament. The backend assigns the start_date automatically based on the current server time."
      security:
        - bearerAuth: []  
      tags:
        - tournaments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: "No additional data is required since start_date is assigned by the server."
      responses:
        "201":
          description: "Tournament created successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The unique ID of the created tournament."
                  start_date:
                    type: string
                    format: date-time
                    description: "The start date of the tournament."
        "400":
          description: "Bad request."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."

  /tournaments/{tournament_id}:
    patch:
      summary: "Update the finish date of a tournament"
      description: "Updates the finish_date of an existing tournament. The finish_date is provided by the client."
      security:
        - bearerAuth: []  
      tags:
        - tournaments
      parameters:
        - name: tournament_id
          in: path
          required: true
          schema:
            type: integer
          description: "The ID of the tournament to update."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                finish_date:
                  type: string
                  format: date-time
                  description: "The finish date to be set for the tournament."
              required:
                - finish_date
      responses:
        "200":
          description: "Tournament updated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: "The ID of the updated tournament."
                  finish_date:
                    type: string
                    format: date-time
                    description: "The updated finish date."
        "400":
          description: "Invalid input data."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message."
        "401":
          description: "Invalid or expired refresh token."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the invalid or expired refresh token."
        "404":
          description: "Tournament not found."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: "Error message indicating the tournament was not found."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    WebSocketResponse:
      type: object
      properties:
        type:
          type: string
          description: "The type of response, e.g., 'online_friends', 'status_update'."
          example: "online_friends"
        data:
          type: object
          description: "The actual data returned by the server."
          additionalProperties: true
          example:
            - friend_id: 1
              username: "friend_1"
              status: "online"

    WebSocketError:
      type: object
      properties:
        type:
          type: string
          description: "Error type, e.g., 'authentication_error'."
        message:
          type: string
          description: "Detailed error message."

    GameState:
      type: object
      properties:
        user1_id:
          type: integer
          description: "ID of player 1."
        user2_id:
          type: integer
          description: "ID of player 2."
        user1_bar_pos:
          type: number
          description: "Position of player 1's paddle (0 to 1, normalized)."
        user2_bar_pos:
          type: number
          description: "Position of player 2's paddle (0 to 1, normalized)."
        ball_x_pos:
          type: number
          description: "X position of the ball (0 to 1, normalized)."
        ball_y_pos:
          type: number
          description: "Y position of the ball (0 to 1, normalized)."
        ball_x_direction:
          type: number
          description: "Direction of the ball's movement along the X-axis (-1, 0, or 1)." 
        ball_y_direction:
          type: number
          description: "Direction of the ball's movement along the Y-axis (-1, 0, or 1)."
        ball_speed:
          type: number
          description: "Speed of the ball, in arbitrary units."
      required:
        - user1_id
        - user2_id
        - user1_bar_pos
        - user2_bar_pos
        - ball_x_pos
        - ball_y_pos
        - ball_x_direction
        - ball_y_direction
        - ball_speed

    GameEvent:
      type: object
      properties:
        type:
          type: string
          description: "Type of event (e.g., 'game_update', 'error')."
          example: "game_update"
        data:
          $ref: "#/components/schemas/GameState"

    GameErrorResponse:
      type: object
      properties:
        type:
          type: string
          description: "The type of the message, e.g., 'error'."
          example: "error"
        code:
          type: integer
          description: "Error code for the message."
          example: 400
        message:
          type: string
          description: "A descriptive error message."
          example: "Invalid game state update."
    MatchDetails:
      type: object
      properties:
        match_id:
          type: integer
          description: "ID of the match."
        mode:
          type: string
          description: "Match mode, either 'QuickPlay' or 'Tournament'."
          enum: ["QuickPlay", "Tournament"]
        tournament_id:
          type: integer
          description: "ID of the tournament, if applicable."
        parent_match_id:
          type: integer
          description: "ID of the parent match, if applicable."
        round:
          type: integer
          description: "Round number in the tournament, if applicable."
        winner_user_id:
          type: integer
          description: "ID of the user who won the match."
        start_date:
          type: string
          format: date-time
          description: "Timestamp when the match was created."
        finish_date:
          type: string
          format: date-time
          description: "Timestamp when the match was finished."
      required:
        - match_id
        - mode
