openapi: 3.0.3

info: 
  title: transcendence API
  description: |
    Transcendence API provides a comprehensive platform for managing a multiplayer ping-pong game service. This includes user authentication, game management, and social features.

    ## Services
    ### 1. Authentication Service
    - OTP-based authentication.
    - JWT issuance, validation, and refresh.

    ### 2. User Management Service
    - Create, update, and manage user profiles.
    - Manage user settings and preferences.

    ### 3. Ping-Pong Game Management Service
    - Real-time game matchmaking and management.
    - Game history tracking.

    ### 4. Tournament Management Service
    - Create and manage tournaments.
    - Track tournament results and rankings.

    ### 5. Friend Management Service
    - Add and remove friends.
    - Manage friend requests and relationships.

    ### 6. Active User List Service
    - Display a list of currently active (logged-in) users.
    - Track active sessions across devices.
  version: 1.0.0

servers:
  - url: https://auth.transcendence.com
    description: Authentication service
  - url: https://matchmaking.transcendence.com
    description: Matchmaking service
  - url: https://score.transcendence.com
    description: Score management service
  - url: https://profile.transcendence.com
    description: User profile service

paths:
  /users:
    get:
      summary: "Get users info"
      description: "Retrieve a list of all users."
      responses:
        "200":
          description: "A list of users."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: "User ID."
                    username:
                      type: string
                      description: "Username."
                    avator_path:
                      type: string
                      description: "User avator path."
    post:
      summary: "Create a new user"
      description: "Register a new user with the provided information."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the new user."
                email:
                  type: string
                  description: "Email address for the new user."
                password:
                  type: string
                  description: "Password for the new user."
              required:
                - username
                - email
                - password
      responses:
        "202":
          description: "OTP generation accepted, processing asynchronously."
        "400":
          description: "Invalid input data."

  /users/{user_id}:
    get:
      summary: "Get user by ID"
      description: "Retrieve detailed information about a specific user by ID."
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to retrieve."
          schema:
            type: integer
      responses:
        "200":
          description: "User details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  username:
                    type: string
                  avator_path:
                    type: string
        "404":
          description: "User not found."
    put:
      summary: "Update user information"
      description: "Update an existing user's information by ID."
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to update."
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Updated username."
                email:
                  type: string
                  description: "Updated email address."
              required:
                - username
                - email
      responses:
        "200":
          description: "User updated successfully."
        "401":
          description: "User authentication failed."
        "404":
          description: "User not found."
      security:
        - bearerAuth: []

    delete:
      summary: "Delete user"
      description: "Delete a user by ID."
      parameters:
        - name: user_id
          in: path
          required: true
          description: "ID of the user to delete."
          schema:
            type: integer
      responses:
        "204":
          description: "User deleted successfully."
        "401":
          description: "User authentication failed."
        "404":
          description: "User not found."
      security:
        - bearerAuth: []

  /auth/generate/signup:
    post:
      description: "Register a new user and generate an OTP for verification."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The desired username for the new account."
                email:
                  type: string
                  description: "The user's email address."
                password:
                  type: string
                  description: "The desired password for the new account."
              required:
                - username
                - email
                - password
      responses:
        "202":
          description: "OTP generation accepted, processing asynchronously."
        "400":
          description: "Invalid input data."

  /auth/generate/login:
    post:
      summary: "Log in an existing user"
      description: "Authenticate the user and generate JWT tokens."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                password:
                  type: string
                  description: "The password of the user."
              required:
                - email
                - password
      responses:
        "200":
          description: "Login successful, JWT tokens issued."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The access token."
                  refresh:
                    type: string
                    description: "The refresh token."
        "401":
          description: "Invalid username or password."

  /auth/token/refresh:
    post:
      summary: "Refresh access token"
      description: "Generate a new access token using a valid refresh token."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
                  description: "The refresh token."
              required:
                - refresh
      responses:
        "200":
          description: "New access token generated."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: "The new access token."
                  refresh:
                    type: string
                    description: "The new refresh token (if updated)."
        "401":
          description: "Invalid or expired refresh token."
      security:
        - bearerAuth: []

  /auth/otp/verify/signup:
    post:
      summary: "Verify OTP during signup"
      description: "Verify the OTP sent during the signup process."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, user account activated."
        "400":
          description: "Invalid OTP or email."

  /auth/otp/verify/login:
    post:
      summary: "Verify OTP during login"
      description: "Verify the OTP sent during the login process."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "Username for the login user."
                otp:
                  type: string
                  description: "The OTP sent to the user."
              required:
                - username
                - otp
      responses:
        "200":
          description: "OTP successfully verified, login completed."
        "400":
          description: "Invalid OTP or username."
        "401":
          description: "User authentication failed."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
