/* フォームのボタンの色をいい感じに */
.btn-primary {
  background-color: #0bb0cc;
  border: none;
  color: white;
}

/* フォームボタンhover時に色が変わらないように設定(bootstrapで勝手に色が変わるため) */
.btn-primary:hover {
  background-color: #0bb0cc;
  color: white;
}

/* ボタンの角を丸く */
.form-btn {
  border-radius: 3.5rem;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

/* 外枠：グラデーションボーダーを再現 */
.gradient-border-wrapper {
  padding: 6px;
  background: linear-gradient(#0bb0cc, #9f2bda);
  border-radius: 20px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

/* 内側：フォーム本体の背景や角丸 */
.form-wrapper {
  background-color: #d9d9d9;
  border-radius: 17px;
  padding: 2rem;
  box-shadow: 0 0 15px #0bb0cc;
  color: black;
  width: 100%;
}

/* 入力フィールドの設定 */
.form-control {
  border-radius: 8px;
}

/* ラベルのフォントサイズと太さを変更 */
.form-label {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  color: black;
}

.close-btn-wrapper {
  position: absolute;
  top: -30px;
  right: -55px;
  cursor: pointer;
}

.close-btn-img {
  width: 40px;
  height: 40px;
}
