body {
  background-color: black;
}

.botton-position {
  margin-right: 100px;
  margin-top: 40px;
}

.find-bottan {
  font-family: "League Spartan", sans-serif;
  background-color: #0bb0cc;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  width: 300px;
  height: 50px;
  /* top: 130px;
	right: 250px; */
  font-size: 30px;
}

.request-bottan {
  font-family: "League Spartan", sans-serif;
  background-color: #0bb0cc;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  width: 300px;
  height: 50px;
  /* top: 200px;
	right: 250px; */
  font-size: 30px;
}

.friend-list img {
  width: 50px; /* 表示したい範囲(100%) */
  height: 50px; /* 表示したい範囲(100%) */
  object-fit: cover; /* 画像をトリミング */
  border-radius: 50%;
}

.js-friend-list-item {
  /* display: flex; */
  font-size: 30px;
  /* align-items: center; */
  /* margin: 10px 100px 40px; */
}

.gap-wrap {
  gap: 10%;
}

.remove-bottan {
  font-family: "League Spartan", sans-serif;
  background-color: #7733ff;
  font-size: 30px;
  color: white;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.user-status {
  color: #0cc0df;
}

.friend_request_item {
  /* display: flex; */
  font-size: 30px;
  /* align-items: center; 縦方向に中央揃え */
  /* margin: 10px 100px 40px; */
}

.approved_bottan {
  font-family: "League Spartan", sans-serif;
  background-color: #02ae5b;
  font-size: 30px;
  color: white;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.reject_bottan {
  font-family: "League Spartan", sans-serif;
  background-color: #7733ff;
  font-size: 30px;
  color: white;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.js-friend_request_list img {
  width: 50px; /* 表示したい範囲(100%) */
  height: 50px; /* 表示したい範囲(100%) */
  object-fit: cover; /* 画像をトリミング */
  border-radius: 50%;
}
