.game-win-lose {
  display: inline-block;
  transform: rotate(-4deg); /* 文字全体を傾ける */
  font-size: 20vh; /* 高さの20%をフォントサイズに */
  width: auto;
}

.game-result {
  display: flex;
  justify-content: space-between;
  font-size: 12vh; /* 高さの20%をフォントサイズに */
  width: 0%;
}

.game-result-left-player-bgc {
  background-color: rgba(11, 176, 204, 0.7);
}

.game-result-right-player-bgc {
  background-color: rgba(159, 43, 218, 0.7);
}

.game-result-button {
  font-size: 5vh;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), /* 白 (少し透明) */ 0 0 4px
    rgba(255, 255, 255, 0.4), /* 白 (さらに透明) */ 0 0 6px
    rgba(255, 255, 0, 0.5), /* 黄色 (少し透明) */ 0 0 8px rgba(255, 255, 0, 0.3), /* 黄色 (さらに透明) */
    0 0 10px rgba(255, 255, 0, 0.2); /* 黄色 (さらに透明) */
  background-color: #0bb0cc;
  border-radius: 100px;
}

.game-result-button:hover {
  filter: brightness(0.9);
}
