/* MatchingRoomコンポーネント全体のスタイル */
#matching-room-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  border-radius: 50px;
  overflow: hidden;
}

/* MatchingRoomコンポーネントのグリッドのスタイル */
#matching-room {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

/* MatchingRoomのアイテムのスタイル */
.matching-room-user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000000;
  color: white;
}

/* MatchingRoomのタイトルのスタイル */
.title-matching-room {
  font-size: 7rem;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0.05em -0.05em 0em #59e6fe, -0.05em 0.05em 0em #d9d9d9;
  color: #0bafcc;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

/* MatchingRoomアバター画像のスタイル */
.matching-room-user img {
  max-width: 100%; /* 最大幅100%で調整 */
  max-height: 100px; /* 最大高さを指定 */
  object-fit: cover; /* 画像のアスペクト比を保ちながら表示 */
}

/* QuickPlayMatchingRoomのマッチング状況のスタイル */
#matching-info {
  font-family: "League Spartan", sans-serif;
  font-size: 5rem;
  margin-top: 10%;
}

/* TournamentMatchingRoomのマッチング状況のスタイル */
#tournament-matching-info {
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 4rem;
  margin-top: 8%;
  margin-bottom: 2%;
  line-height: 1.2;
}

/* TournamentMatchingRoom内の人数のスタイル */
#current-players {
  font-family: "League Spartan", sans-serif;
  color: #0cc0df;
}

/* TournamentMatchingRoom内の最大人数のスタイル */
#matching-remain-sec {
  font-family: "League Spartan", sans-serif;
  color: #0cc0df;
}
