.not-found-number {
  font-size: 15.0em;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0bb0cc;
}

.not-found-text {
  font-size: 8.0em;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-style: normal;
}
