/*body {*/
/*  font-family: Arial, sans-serif;*/
/*  margin: 20px;*/
/*  text-align: center;*/
/*}*/
/*header {*/
/*  background: #333;*/
/*  color: white;*/
/*  padding: 10px;*/
/*}*/
/*button {*/
/*  padding: 10px;*/
/*  margin: 5px;*/
/*  cursor: pointer;*/
/*}*/

body {
  background-color: black;
  color: white;
}

.home-icon {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 4.0em;
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}
