div.jQBracket .team.win {
  background-color: #0b7d90;
}

div.jQBracket .team.lose {
  background-color: #d9d9d9;
}

div.jQBracket .team {
  background-color: #0cc0df;
}

.match-vs {
  font-size: 8vh;
}

.match-left-player {
  background-color: #7733ff;
}

.match-right-player {
  background-color: #9747ff;
}

.diamond {
  width: 5vw;
  aspect-ratio: 1 / 1; /* 正方形を維持 */
  transform: rotate(45deg); /* ひし形に変形 */
}

.diamond-text {
  font-size: 75%;
  transform: rotate(-45deg); /* 文字を正しい向きに */
}
