div.jQBracket .team.win {
  background-color: #0b7d90;
}

div.jQBracket .team.lose {
  background-color: #d9d9d9;
}

div.jQBracket .team {
  background-color: #0cc0df;
}

.match-vs {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  font-size: 8vh;
  width: 0%;
}

.match-left-player {
  background-color: #7733ff;
}

.match-right-player {
  background-color: #9747ff;
}

.diamond-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  width: 5vw;
  aspect-ratio: 1 / 1; /* 正方形を維持 */
  background-color: white;
  position: absolute;
  transform: rotate(45deg); /* ひし形に変形 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond-text {
  color: black;
  font-size: 75%;
  font-weight: bold;
  transform: rotate(-45deg); /* 文字を正しい向きに */
}
